<mat-grid-list cols="2" rowHeight="4:3" gutterSize="40px">
  <mat-grid-tile>
    <mat-card class="chartsGrid">
      <mat-card-header class="header">
        <mat-card-title>Static Data Bar Chart</mat-card-title>
        <mat-card-subtitle>Statusbrew Assignment</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [chart]="barChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="chartsGrid">
      <mat-card-header class="header">
        <mat-card-title>Rxjs Pie Chart</mat-card-title>
        <mat-card-subtitle>Statusbrew Assignment</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [chart]="rxjsChartEg" ></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
    <!-- <mat-card class="chartsGrid">
      <mat-card-header class="header">
        <mat-card-title>Static Data Chart</mat-card-title>
        <mat-card-subtitle>Statusbrew Assignment</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [chart]="donutChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile> -->
    <!-- <mat-grid-tile>
    <mat-card class="chartsGrid">
      <mat-card-header class="header">
        <mat-card-title>Chart 2</mat-card-title>
        <mat-card-subtitle>Statusbrew Assignment</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [chart]="lineChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="chartsGrid">
      <mat-card-header class="header">
        <mat-card-title>Chart 3</mat-card-title>
        <mat-card-subtitle>Statusbrew Assignment</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [chart]="areaChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
     -->
</mat-grid-list>
