body{
  margin: 50px!important;
}

html {
  background-repeat: no-repeat;
  background: rgb(150,145,201);
  background: linear-gradient(180deg, rgba(150,145,201,1) 0%, rgba(104,133,171,1) 1%, rgba(40,52,85,1) 100%);
}
